@media(max-width:768px){
nav{
    display: none;
}
div h1{
    font-size: 3rem;
}
.container-1{
    margin-top: 80px;
}
.container-2{
    margin-top: 100px;
}
.container-2 img{
    width: 200px;
}
}

@media(max-width:466px){
    .container-1 h2{
        font-size: 2rem;
    }
    .text-1 p{
        padding: 15px;
    }
    .container-2 img{
        width: 200px;
    }
    footer .home{
        display: none;
    }
}
@media (max-width:425px){
    .container-1 h2{
        font-size: 1.8rem;
    }
    .container-2 img{
        width: 200px;
    }
    #about{
        margin-top: 80px;
    }
}
@media(max-width:375px){
    .container-1{
        padding: 30px;
    }
    .container-1 h2{
        font-size: 1.3rem;
    }
    .container-2{
        margin-top: 150px;
    }
    .container-2 img{
        width: 150px;
    }
    .text-3 {
        font-size: 1rem;
    }
}