@media(max-width:550px){
    nav{
        display: none;
    }
    .container{
        margin-bottom: 50pxs;
    }
}
@media(max-width:425px){
    .container h2{
        font-size: 2rem;
    }
}
@media(max-width:320px){
    .container h2{
        font-size: 1.8rem;
    }
}
