*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #262626;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
ul{
    display: flex;
    list-style: none;

}
a{
    text-decoration: none;
    padding: 8px 20px;
    color: white;
    font-size: 1.3rem;
}
a:hover{
    color: #6C63FF;
    transition: 200ms;
}
#active{
    color: #6C63FF;
}
#header div a {
    padding: 0;
}
.modal-results{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    text-align: center;
    line-height: 60px;
}
.container h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.git{
    background-color: #262626;
}
.git:hover{
    background-color: #111111;
    transition: 200ms;
}
.link{
    background-color: royalblue;
}
.link:hover{
    background-color: rgb(25, 73, 218);
    transition: 200ms;
}
.menuback{
    border: 1px solid #6C63FF;
    color: #6C63FF;
    display: block;
    transition: transform 0.4s;
}
.menuback:hover{
    transform: scale(1.03);
}

